html {
    background-color: rgb(32, 42, 52);
    font-family: 'Noto Sans', sans-serif;
    color: rgb(212, 212, 212);
}

.button {
    border: rgb(212, 212, 212) 1px solid;
    width: 200px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    color: rgb(212, 212, 212);
    border-radius: 5px;
}

#menu {
    margin-top: 100px;
    margin-bottom: 300px;
    text-align: center;
}

p {
    margin-top: 5em;
    text-align: center;
}

#header {
    font-size: 1.5em;
}